@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-minion-regular: var(--font-minion-regular);
  --font-minion-bold: var(--font-minion-bold);
  --font-minion-italic: var(--font-minion-italic);
  --font-minion-bold-italic: var(--font-minion-bold-italic);

  --color-spruce-50: #f2f6ee;
  --color-spruce-100: #e5eedd;
  --color-spruce-200: #cbdcbc;
  --color-spruce-300: #b1cb9a;
  --color-spruce-400: #97ba78;
  --color-spruce-500: #7da857;
  --color-spruce-600: #648745;
  --color-spruce-700: #4b6534;
  --color-spruce-800: #324323;
  --color-spruce-900: #192211;
  --color-spruce-950: #11180c;

  --color-vanilla-custard-50: #fffbe5;
  --color-vanilla-custard-100: #fff7cc;
  --color-vanilla-custard-200: #fff099;
  --color-vanilla-custard-300: #ffe866;
  --color-vanilla-custard-400: #ffe033;
  --color-vanilla-custard-500: #ffd900;
  --color-vanilla-custard-600: #ccad00;
  --color-vanilla-custard-700: #998200;
  --color-vanilla-custard-800: #665700;
  --color-vanilla-custard-900: #332b00;
  --color-vanilla-custard-950: #241e00;

  --color-royal-gold-50: #fff8e6;
  --color-royal-gold-100: #fef1cd;
  --color-royal-gold-200: #fde39b;
  --color-royal-gold-300: #fdd568;
  --color-royal-gold-400: #fcc736;
  --color-royal-gold-500: #fbb904;
  --color-royal-gold-600: #c99403;
  --color-royal-gold-700: #976f02;
  --color-royal-gold-800: #644a02;
  --color-royal-gold-900: #322501;
  --color-royal-gold-950: #231a01;

  --color-tomato-jam-50: #f9edeb;
  --color-tomato-jam-100: #f3dad8;
  --color-tomato-jam-200: #e8b5b0;
  --color-tomato-jam-300: #dc9089;
  --color-tomato-jam-400: #d06b62;
  --color-tomato-jam-500: #c4463b;
  --color-tomato-jam-600: #9d382f;
  --color-tomato-jam-700: #762a23;
  --color-tomato-jam-800: #4f1c17;
  --color-tomato-jam-900: #270e0c;
  --color-tomato-jam-950: #1b0a08;

  --color-fern-50: #f2f7ee;
  --color-fern-100: #e4eedd;
  --color-fern-200: #c9deba;
  --color-fern-300: #aecd98;
  --color-fern-400: #93bd75;
  --color-fern-500: #78ac53;
  --color-fern-600: #608a42;
  --color-fern-700: #486732;
  --color-fern-800: #304521;
  --color-fern-900: #182211;
  --color-fern-950: #11180c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-minion-regular), serif;
}

.minion-regular {
  font-family: var(--font-minion-regular), serif;
}

.minion-bold {
  font-family: var(--font-minion-bold), serif;
}

.minion-italic {
  font-family: var(--font-minion-italic), serif;
  font-style: italic;
}

.minion-bold-italic {
  font-family: var(--font-minion-bold-italic), serif;
  font-style: italic;
}

.lettering {
  font-family: var(--font-minion-bold), serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.lettering-reduced {
  font-family: var(--font-minion-bold), serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

:root {
  --background: var(--color-red-950);
  --foreground: oklch(0.92 0.03 95);

  --radius: 0.625rem;
}
